* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
}

body {
  background-color: gray;
}

h1 {
  text-align: center;
}
/* Handy */
@media (max-width: 750px) {
  .profile {
    display: block;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 25px;
  }
  .profile div {
    display: flex;
    background-color: white;
  }
  .profile div .info {
    display: block;
  }
  .container {
    margin-top: 35px;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    margin-top: 35px;
  }
  img {
    border-radius: 100%;
  }
}

/* TABLET */
@media (max-width: 1536px) and (min-width: 751px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  .profile div {
    display: flex;
    background-color: white;
  }
  .profile div .info {
    display: block;
  }
  .info {
    margin-left: 15px;
  }
  .container {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    width: calc(50% - 20px);
  }
  img {
    border-radius: 100%;
  }
}

/* PC */
@media (min-width: 1537px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 1600px;
    margin: 0 auto;
  }
  .profile div {
    display: flex;
    background-color: white;
  }
  .profile div .info {
    display: block;
  }
  .info {
    margin-left: 15px;
  }
  .container {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    display: block;
    align-items: center;
    width: calc(50% - 20px);
  }
}
