selektor {
  eigenschaft: wert;
}

* {
  box-sizing: border-box;
  margin: auto;
}

h1 {
  color: blue;
  background-color: aliceblue;
}

body {
  background-color: grey;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
  display: block;
}

a:hover {
  color: red;
}

div {
  color: green;
}

img {
  width: 600px;
}

p {
  color: white;
  background-color: black;
  width: 600px;
  padding: 10px;
  border: 3px yellow solid;
  box-sizing: border-box;
}

#twoP {
  background-color: brown;
  color: green;
  border-color: green;
}

#threeP {
  background-color: greenyellow;
  color: darkred;
}

.bordernew {
  border-color: blue;
  margin: auto;
}

body.page-template-page-fullsingle-me {
  height: 100vh;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: -0.5px;
  color: var(--primary-color);
  background: linear-gradient(
    0deg,
    var(--gradient-top-color) 0%,
    var(--gradient-bottom-color) 100%
  );
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("../../images/dogBackground.jpg");

  background-position: center center;
  background-size: cover;
  margin: 0px;
}
